body{
    background-image: url(../Medias/img/fond70alpha.png);
}

/* montserrat-regular - latin */
*{
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 400;
}

h2{
    color:white;
}

.txt_center{
    text-align: center;
}


#title_point_com{
    font-size: 0.6em;
}
#title_un{
    font-size:0.9em;
}

.btn{
    width:80%;
}

#btn_go{
    width:auto;
}

#pp{
    max-width: 100px;
    max-height: 100px;
    align-self: center;
}