html{
    background-image: url(../medias/images/fond.jpg);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}


header{
    display:grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr;
}

ul{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

section{
    display:grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: auto; 
}

